/* color variables */
:root {
  --mainWhite: rgb(255,255,255);
  --mainBlack: rgb(0,0,0);

  --primaryBackground: rgb(165,165,165);
  --secondaryBackground: rgb(241,163,60);
  --tertiaryBackground: rgb(50,50,50);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  margin: 0 auto;
  background: var(--mainBlack);
  color: var(--mainWhite);
  height: 620px;
  width: 400px;
  padding: 16px;
}

.display {
  font-size: 115px;
  font-weight: 300;
  text-align: right;
  margin-bottom: 6px;
}

.buttons {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

@media screen and (min-width: 768px){
  .App {
    width: 740px;
    height: 400px;
  }
  .buttons {
    /* grid-gap: 16px; */
    grid-template-columns: repeat(10, 1fr);
  }

  .display {
    font-size: 70px;
  }
}
